.modal {
  display: block;
  position: fixed;
  z-index: 99999;
  inset: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  overflow: auto;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: hsl(0, 0%, 100%);
  width: 30%;
  padding: 30px;
  border-radius: 10px;
  position: relative;
}

.close {
  cursor: pointer;
}

.scroll::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 6px;
}

.scroll::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.closeBtn {
  position: absolute;
  right: 10px;
  top: 10px;
}

.error{
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

form {
  width: 100%;
}

form div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

form div input {
  width: 100%;
  padding: 8px 5px;
  border-radius: 6px;
  border: none;
  border: 1px solid lightgray;
  outline: none;
}

form div textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  border: 1px solid lightgray;
}

form div label {
  font-weight: 600;
}

form div button {
  cursor: pointer;
  padding: 10px 8px;
  background-color: #0dbb5b;
  color: white;
  border: none;
  font-weight: 600;
  font-size: 16px;
  border-radius: 6px;
}

form div button:hover {
  background-color: #359962;
}
.optional{
  color: gray;
  font-size: 10px;
}
.required{
  color: red;
}

.success{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .modalContent {
    width: 90%;
  }
}
