
h1 {
    font-size: 38px;
    padding: 0.5rem 0;
}

h2 {
    font-size: 32px;
    padding: 0.5rem 0;
}

h3{
    font-size: 24px;
}



@media screen and (max-width: 966px) {
    .heroBanner {
        padding: 2rem;
    }
}

.sectionText {
    padding: 0.5rem 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3b3b3b;
    font-size: 18px;
    margin-bottom: 30px;
}
.sectionText:first-child{
    margin-top: 40px;
}
.sectionText h3{
    font-size: 22px;
}

.sectionText li{
    font-size: 16px;
}

.sectionTable{
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3b3b3b;
    font-size: 20px;
}

.sectionTable li{
    list-style-type: none;
    font-size: 16px;
}

table, th, td {
    font-size: 14px;
    border: 1px solid;
}

.comparisionSection{
    padding-left: 0;
    padding-right: 0;
}
.comparisionSection .h1{
    padding-left: 15px;
    padding-right: 15px;
}
.sectionText p{ 
    font-size: 16px;
}
.grootImg{
    box-shadow: 0 10px 15px rgba(0 0 0 / 0.2);
}
.grootCardWrapper {
    gap: 40px;
}
.grootCard{
    overflow: hidden;
    flex-grow: 1;
    width: 100%;
    border-radius: 15px;
    padding: 20px;
    border: 2px solid #f2f2f2;
    background: #fafafa;
    box-shadow: 0 10px 15px rgb(0 0 0 / 5%);
}
.grootFeatureTableWrapper{
    padding-left: 0;
    padding-right: 0;
    border-radius: 15px;
    overflow: hidden;
}
.grootFeatureTable{
    border: 2px solid #f2f2f2;
    background: #fafafa;
    text-align: left;
    width: 100%;
    display: table;
}
.grootCard h2 {
    display: flex;
    align-items: center;
    gap: 6px;
}
.grootFeatureTable th ul{
    padding-top: 8px;
    padding-bottom: 8px;
}
.grootFeatureTable th ul li {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.8;
}
.grootFeatureTable tbody td{
    text-align: center;
}
.flexCol{
    flex-direction: column;
}

.buttonGroup{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.downloadGroup{
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 30px;
    margin-bottom: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}
.downloadLogo{
    height: 100px;
    max-width: 100%;
    object-fit: cover;
    margin: 0 auto 20px;
    display: block;
}
.tooltipTrigger{
    background-color: #333333;
    padding: 0;
    color: white;
    width: 18px;
    height: 18px;
    font-size: 14px;
    border-radius: 50%;
    margin-left: 5px;
    border: 0;
    transition: all 300ms;
}
.tooltipTrigger:hover {
    background-color: var(--ifm-color-primary);
    color: white;
}
.toolTip{
    max-width: 200px;
    padding: 0.25rem 0.5rem;
    text-align: center;
    border: 2px solid #dfdede;
    background-color: #fafafa;
    box-shadow: 0 10px 15px rgb(0 0 0 / 5%);
    border-radius: 0.375rem;
    font-size: 12px;
    font-weight: bold;
}
.whitespaceNoWrap{
    white-space: nowrap;
}

@media (max-width: 767px) {
    .grootCardWrapper{
        flex-direction: column;
    }
    .downloadGroup > div {
        text-align: center;
    }
    .comparisionSection .container{
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 567px) {
    .sectionText{
        margin-bottom: 10px;
    }
    .sectionText h1 {
        font-size: 24px;
    }
    .sectionText h3{
        font-size: 16px;
    }
    .sectionText h2{
        font-size: 18px;
    }
    .sectionText p, .sectionText li{
        font-size: 14px;
    }
    .downloadGroup > div > a {
        font-size: 14px;
        padding: 8px 16px;
    }
     
}