/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* You can override the default Infima variables here. */
:root {
  --ifm-font-family-base: 'Open Sans';
  --ifm-color-primary: #0dbb5b;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgb(180, 251, 169);

  --doc-sidebar-width: 350px !important;
  --ifm--sidebar-font-size: 14px;
}

article {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.theme-doc-sidebar-menu{
  font-size: 18px;
}

@media (max-width: 567px){
  .navbar__title {
    font-size: 14px;
  }
}
