/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Global font sizes for docs and site content */
h1 {
  font-size: 42px;
  padding: 0.5rem 0;
}

h2 {
  font-size: 36px;
  padding: 0.5rem 0;
}

h3 {
  font-size: 26px;
}

p {
  font-size: 21px;
}

li {
  font-size: 21px;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-font-family-base: 'Open Sans';
  --ifm-color-primary: #0dbb5b;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgb(180, 251, 169);

  --doc-sidebar-width: 350px !important;
  --ifm--sidebar-font-size: 18px;

}

/* Header font sizes */
.navbar__title {
  font-size: 1.4rem;
}

.navbar__link {
  font-size: 1.3rem;
}

article {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.theme-doc-sidebar-menu{
  font-size: 18px;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .heroBanner_src-pages-index-module h1 {
    font-size: 30px !important;
    font-weight: bold;
  }
}
@media (max-width: 580px) {
  .navbar__title {
    font-size: 14px;
  }
  .heroBanner_src-pages-index-module h1 {
    font-size: 32px !important;
    font-weight: bold;
  }
  .heroBanner_src-pages-index-module p {
    font-size: 20px !important;
  }
}

@media (max-width: 480px) {
  .heroBanner_src-pages-index-module h1 {
    font-size: 28px !important;
    font-weight: bold;
  }
  .heroBanner_src-pages-index-module p {
    font-size: 18px !important;
  }
}
